@model SurveyApp.Models.UserQuestion

@{
    ViewBag.Title = "TakeSurvey";
}

<h2>Take Survey</h2>


@Html.Label("Survey:")
@Html.DisplayFor(model=>model.SurveyId)





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
